:root {
    --color-1: #1a1e22;
    --color-2: #272d33;
    --color-3: #d8d2cc;
    --color-3-60: rgba(216, 210, 204, 0.6);
    --color-3-50: rgba(216, 210, 204, 0.5);
    --color-3-20: rgba(216, 210, 204, 0.2);
    --color-3-10: rgba(216, 210, 204, 0.1);
}
