:root {
    --color-1: #fafafc;
    --color-2: #eaeaed;
    --color-3: rgb(59, 60, 69);
    --color-3-60: rgba(59, 60, 69, 0.6);
    --color-3-50: rgba(59, 60, 69, 0.5);
    --color-3-20: rgba(59, 60, 69, 0.2);
    --color-3-10: rgba(59, 60, 69, 0.1);
}