.matrix-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    .matrix-label {
        font-size: var(--font-size-1);
        color: var(--color-3);
        margin-right: var(--space-1);
    }

    .matrix,
    .matrix-inputs,
    .matrix-solution-inputs,
    .matrix-solution {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--space-1);
        background-color: var(--color-2);
        padding: var(--space-1);
        border-radius: var(--border-radius-12);
        border: 1px solid var(--color-3-20);

        .matrix-row {
            display: flex;
            flex-direction: row;
            gap: var(--space-1);

            .matrix-cell {
                width: 40px;
                text-align: center;
            }
        }

        .matrix-col {
            display: flex;
            flex-direction: column;
            gap: var(--space-1);

            .matrix-cell {
                padding: 0 var(--space-25);
                min-width: 40px;
                text-align: center;
                transition: var(--transition-1);
                border-radius: var(--border-radius-6);
                cursor: pointer;

                &:hover {
                    background-color: var(--color-3-10);
                }

                @media only screen and (max-width: 600px) {
                    padding: 0;
                }
            }
        }
    }

    .matrix-inputs {
        flex-direction: column;
    }

    .matrix-solution-inputs {
        flex-direction: column;
    }

    .matrix-solution-inputs,
    .matrix-solution {
        border-right: 1px solid var(--color-3-20);
        border-left-style: dashed;
        border-radius: 0 var(--border-radius-12) var(--border-radius-12) 0 !important;
    }

    .withSolution {
        border-right: none;
        border-radius: var(--border-radius-12) 0 0 var(--border-radius-12) !important;
    }
}
