.select-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-50);

  &:hover {
    .select-menu-title {
      color: var(--color-3);
    }
  }

  &:first-child {
    .select-menu-title {
      padding-top: 0;
    }
  }

  .select-menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .select-menu-header-title {
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-4);
      color: var(--color-3-60);
      transition: var(--transition-1);
      user-select: none;
    }

    .select-menu-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: var(--space-1);

      .select-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: var(--space-75) var(--space-1);
        transition: var(--transition-1);
        // background-color: var(--color-2);
        border-radius: var(--border-radius-12);
        cursor: pointer;

        &:hover {
          background-color: var(--color-3-10);
        }

        svg {
          fill: var(--color-3-60);
          width: 22px;
          height: 22px;
          transition: var(--transition-1);
        }

        &:hover > svg {
          fill: var(--color-3);
        }
      }
    }
  }

  .select-menu-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-50);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    color: var(--color-3-60);
    transition: var(--transition-1);
    user-select: none;
  }

  @media only screen and (max-width: 600px) {
    .select-menu-title {
      font-size: var(--font-size-4);
    }
  }

  .select-menu-list {
    display: flex;
    flex-direction: column;
    background-color: var(--color-2);
    border-radius: var(--border-radius-12);
    overflow: hidden;

    .select-menu-item {
      font-size: var(--font-size-1);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
      // padding: var(--space-1);
      border-bottom: 1px solid var(--color-3-20);
      transition: var(--transition-1);
      color: var(--color-3);
      font-weight: var(--font-weight-3);
      cursor: pointer;
      padding: var(--space-1);
      overflow: hidden;
      user-select: none;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: var(--color-3-10);
      }

      .select-menu-item-function {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: var(--space-1);
        transition: var(--transition-1);

        .select-menu-item-title {
          font-size: var(--font-size-1);
          font-weight: var(--font-weight-4);
        }

        .select-menu-item-details {
          font-size: var(--font-size-1);
          font-weight: var(--font-weight-3);
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &:hover {
          background-color: var(--color-3-10);
        }
      }

      .select-menu-item-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-left: 1px solid var(--color-3-20);

        .select-menu-item-button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: var(--space-75) var(--space-1);

          &:hover {
            background-color: var(--color-3-10);
          }

          svg {
            fill: var(--color-3-60);
            width: 22px;
            height: 22px;
            transition: var(--transition-1);
          }

          &:hover > svg {
            fill: var(--color-3);
          }
        }
      }

      .select-menu-item-equations-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: var(--transition-1);

        &:hover {
          background-color: var(--color-3-10);
        }
      }

      .select-menu-item-equation {
        padding: var(--space-1);
        flex: 1 0 0;
        text-align: center;
        border-left: 1px solid var(--color-3-20);
        font-weight: var(--font-weight-4);
        white-space: nowrap;

        &:first-child {
          border-left: none;
        }
      }

      @media only screen and (max-width: 770px) {
        .select-menu-item-equation {
          border-left: none;
          padding: var(--space-50);
        }

        .select-menu-item-function {
          flex-direction: column;
        }

        .select-menu-item-equations-container {
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: var(--space-1);
        }
      }
    }

    .examples,
    .saved {
      padding: 0;

      &:hover {
        background-color: var(--color-2) !important;
      }
    }

    // .equations {
    //   padding: 0;

    //   .select-menu-item-button {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 100%;
    //     height: 100%;

    //     &:hover {
    //       background-color: var(--color-3-10);
    //     }

    //     &:hover > svg {
    //       fill: var(--color-3);
    //     }
    //   }
    // }

    @media only screen and (max-width: 600px) {
      .examples,
      .saved {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // height: auto;

        // padding: var(--space-1) 0;

        .select-menu-item-title {
          text-align: center;
          margin-bottom: var(--space-25);
        }

        .select-menu-item-details {
          text-align: center;
          color: var(--color-3-60);
        }
      }
      .select-menu-item-buttons {
        // border-left: none !important;
        // width: 100%;

        .select-menu-item-button {
          padding: var(--space-1) var(--space-1);
          border-left: none !important;

          &:hover {
            background-color: var(--color-3-10);
          }

          &:hover > svg {
            fill: var(--color-3);
          }
        }
      }
      .equations {
        padding-bottom: 0;
      }
    }
  }
}
