.solution_table {
    width: 100%;
    margin: 0;
    // margin-top: var(--space-2);
    border-collapse: collapse;
    // margin-bottom: var(--space-2);
    border-radius: var(--border-radius-12);
    overflow: hidden;
    color: var(--color-3);

    .th {
        text-align: left;
        background-color: var(--color-2);
    }

    .td:first-child {
        background-color: var(--color-2);
    }

    // .tr:last-child {
    //     .highlight {
    //     }
    // }

    .tr {
        cursor: pointer;
        transition: var(--transition-1);

        &:hover {
            background-color: var(--color-2);
        }
    }

    .td {
        cursor: pointer;
        transition: var(--transition-1);

        &:hover {
            background-color: var(--color-3-10);
        }
    }
}

.solution_table,
.th,
.td {
    border: 1px solid var(--color-3-20);
    padding: var(--space-1);
}

.i_col {
    &:hover {
        background-color: var(--color-2) !important;
    }

    text-align: center !important;
}

.solution_table_container {
    padding-bottom: var(--space-50);
    overflow-x: auto;
}
